allow netd bip:fd use;
allow netd bip:tcp_socket { read write setopt getopt };
allow netd bip:udp_socket {read write setopt getopt};

allow netd epdg_wod:fd use;
allow netd epdg_wod:tcp_socket { read write setopt getopt };
allow netd epdg_wod:udp_socket {read write setopt getopt};

allow netd ipsec:fd use;
allow netd ipsec:tcp_socket { read write setopt getopt };
allow netd ipsec:udp_socket {read write setopt getopt};

allow netd volte_imcb:fd use;
allow netd volte_imcb:tcp_socket { read write setopt getopt };
allow netd volte_imcb:udp_socket {read write setopt getopt};

allow netd volte_stack:fd use;
allow netd volte_stack:tcp_socket { read write setopt getopt };
allow netd volte_stack:udp_socket {read write setopt getopt};

allow netd volte_ua:fd use;
allow netd volte_ua:tcp_socket { read write setopt getopt };
allow netd volte_ua:udp_socket {read write setopt getopt};
