# ==============================================
# Policy File of /vendor/bin/dcxosetcap Executable File

# ==============================================
# Type Declaration
# ==============================================
type dcxosetcap, domain;
type dcxosetcap_exec, exec_type, file_type, vendor_file_type;

# ==============================================
# Common SEPolicy Rule
# ==============================================
init_daemon_domain(dcxosetcap)

#============= dcxosetcap ==============
allow dcxosetcap sysfs_dcxo:file { read write open };
allow dcxosetcap mnt_vendor_file:dir search;
allow dcxosetcap nvdata_file:dir { search write add_name };
allow dcxosetcap nvdata_file:file { open read write getattr };
