type mtk_hal_touchll,domain;
hal_server_domain(mtk_hal_touchll,hal_touchll)
type mtk_hal_touchll_exec,exec_type,file_type,vendor_file_type;
init_daemon_domain(mtk_hal_touchll)

hal_attribute_hwservice(hal_touchll, mtk_hal_touchll_hwservice)

binder_call(hal_touchll_client, hal_touchll_server)
binder_call(hal_touchll_server, hal_touchll_client)
