# kernel device
allow tee tkcore_admin_device:chr_file rw_file_perms;

# sfs
allow tee tkcore_data_file:dir create_dir_perms;
allow tee tkcore_data_file:file { create_file_perms link };

# persist
allow tee mnt_vendor_file:dir search;
allow tee protect_f_data_file:dir search;
allow tee persist_data_file:dir search;
allow tee tkcore_protect_data_file:dir create_dir_perms;
allow tee tkcore_protect_data_file:file { create_file_perms link };

#rpmb
allow tee rpmb_block_device:blk_file rw_file_perms;
allow tee rpmb_device:chr_file rw_file_perms;
allowxperm tee rpmb_block_device:blk_file ioctl { MMC_IOCTLCMD MMC_IOC_MULTI_CMD UFS_IOCTLCMD UFS_IOCTL_RPMB };
allowxperm tee rpmb_device:chr_file ioctl { MMC_IOCTLCMD MMC_IOC_MULTI_CMD UFS_IOCTLCMD UFS_IOCTL_RPMB };
allow tee tee:capability { sys_rawio };

# systa loading
allow tee tkcore_systa_file:dir r_dir_perms;
allow tee tkcore_systa_file:file r_file_perms;

# spta mgmt/loading
allow tee tkcore_spta_file:dir create_dir_perms;
allow tee tkcore_spta_file:file create_file_perms;

# logging
allow tee tkcore_log_file:file create_file_perms;

# allow tkcore to read/write vendor.trustkernel.* properties
set_prop(tee, vendor_mtk_trustkernel_tee_prop);

# maintaining version through /proc fs
allow tee proc_tkcore:file rw_file_perms;
allow tee proc_tkcore:dir search;
