# ==============================================
# Policy File of /system/priv-app/CapabilityTest/CapabilityTest.apk Executable File

type capability_app, domain, coredomain;
