#for img gpu_nn_service
type gpunn_data_file, file_type, data_file_type;

# Date : WK14.40 2018/11/16
# Purpose : allow access to /data/vendor for blob cache for gpunn service
allow mtk_hal_neuralnetworks mnt_user_file:lnk_file r_file_perms;
allow mtk_hal_neuralnetworks mnt_user_file:dir search;
allow mtk_hal_neuralnetworks storage_file:lnk_file r_file_perms;
allow mtk_hal_neuralnetworks sdcardfs:dir search;
dontaudit mtk_hal_neuralnetworks media_rw_data_file:dir search;

# Date : WK19.03 2019/01/14
# Purpose : allow access to /data/vendor for blob cache for gpunn service
allow mtk_hal_neuralnetworks gpunn_data_file:dir create_dir_perms;
allow mtk_hal_neuralnetworks gpunn_data_file:file create_file_perms;
