# ==============================================
# Common SEPolicy Rule
# ==============================================

# Date : WK16.30
# Operation : Migration
set_prop(cameraserver, debug_prop)
set_prop(cameraserver, system_prop)

# Date : WK16.35
# Operation : Migration
# Purpose : allow camera to access log too much detect property
set_prop(cameraserver, system_mtk_logmuch_prop)

# Date : WK19.22
# Purpose : access gpu hal
hal_client_domain(cameraserver, hal_gpu)
