# ==============================================
# Common SEPolicy Rule
# ==============================================

# Date : WK17.29
# Operation : Migration
# Purpose : for aee dump systemAPI db, get backtrace
allow domain crash_dump:process sigchld;

# Date : W17.47
# Allow system_server to enable/disable logmuch_prop for Wi-Fi logging purpose
neverallow {
  coredomain
  -init
  -logd
  -cameraserver
  -system_server
  -em_app
  } system_mtk_logmuch_prop:property_service set;
