# ==============================================
# Common SEPolicy Rule
# ==============================================

# Date : WK19.22
# Purpose : access gpu hal
hal_client_domain(priv_app, hal_gpu)

# Date : WK19.46
# Purpose : access cta prop
get_prop(priv_app, system_mtk_cta_set_prop)

# Date: 2020/04/03
# Operation : Network data controller feature
# Purpose :allow priv_app to find cta_networkdatacontroller_service
allow priv_app cta_networkdatacontroller_service:service_manager find;

# Date: 2020/04/30
# Operation : SQC
# Purpose :allow priv_app to read write system_app_data_file
allow priv_app system_app_data_file:file { read write };
